<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>cz.pasky.hidpi-mirror</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Users/pasky/src/hidpi-mirror/hidpi-mirror</string>
		<string>2048</string>
		<string>1152</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
	<true/>
	<key>LimitLoadToSessionType</key>
	<string>Aqua</string>
	<key>StandardOutPath</key>
	<string>/Users/pasky/src/hidpi-mirror/hidpi-mirror.log</string>
	<key>StandardErrorPath</key>
	<string>/Users/pasky/src/hidpi-mirror/hidpi-mirror.log</string>
</dict>
</plist>
